@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

:root {
  --main-color: rgba(49, 71, 158, 1);
  --secondary-color: rgba(237, 28, 36, 1);
  --light-color: rgba(237, 233, 233, 1);
}

.color-main {
  color: var(--main-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.color-light {
  color: var(--light-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* UTILITIES */

a {
  text-decoration: none;
  color: unset;
}

.btn {
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.95;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  opacity: 1;
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
}

.btn:active {
  transform: scale(0.95);
}

.btn-big {
  width: 200px;
  height: 70px;
  font-size: 1.1rem;
}

.btn-light {
  background-color: #fff;
  border: none;
  padding: 12px;
  font-weight: bold;
  color: var(--main-color);
}
.btn-outline-light {
  background: none;
  border: 3px solid #fff;
  padding: 12px;
  font-weight: bold;
  color: #fff;
}

.section-header {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
}
.section-header-sm {
  text-align: center;
  font-size: 1.6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.hidden {
  display: none;
}

.txt-c {
  text-align: center;
}

/* HEADER */

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: all 0.5s ease;
}

.header-nav {
  height: 50px;
  background: rgb(49, 71, 158);
  box-shadow: 0px 2px 25px 0px var(--light-color);
}

.site-logo img {
  max-width: 150px;
  transition: all 0.3s ease;
}

.logo-sm {
  transform: scale(0.6);
  margin-left: -1.7rem;
  margin-top: 0.7rem;
}

.navbar .nav-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 2;
  position: relative;
}

.navbar .nav-list .nav-list-item {
  padding: 0.5rem;
  transition: all 0.1s ease;
  cursor: pointer;
}

.navbar .nav-list .nav-list-item:hover {
  font-weight: bold;
  text-shadow: 0px 0px 25px rgba(237, 233, 233, 1);
}

/* MAIN */

.main-section {
  height: 100vh;
  width: 100%;
  background: url("/src/assets/img/imgpsh_fullsize_anim.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.main-section .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 71, 158, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-section .overlay h2 {
  font-style: italic;
  font-size: 1.7rem;
}

.main-section .overlay .main-title {
  font-size: 4rem;
  margin-top: 6rem;
}

.main-section .overlay .main-title-sm {
  font-style: normal;
  font-size: 2.6rem;
  margin-top: 1rem;
}

.main-section .overlay .buttons {
  margin-top: 6rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-section .overlay .countdown {
  height: 100px;
  width: 65%;
  background: var(--secondary-color);
  position: absolute;
  bottom: -30px;
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
  z-index: 2;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-family: "Titillium Web", sans-serif;
}

.main-section .overlay .countdown .cd-item p {
  font-size: 1rem;
}

/* ABOUT */

.about {
  width: 100%;
  min-height: 100vh;
  background: url("/src/assets/img/workshop.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .overlay-light {
  position: absolute;
  background: rgba(237, 233, 233, 0.3);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.about .text-content {
  width: 95%;
  background: rgba(49, 71, 158, 0.8);
  box-shadow: 0px 0px 50px 0px rgba(49, 71, 158, 1);
  padding: 1.5rem;
  z-index: 1;
  color: #fff;
  line-height: 1.4rem;
  column-count: 3;
}
.about .overlay-sm p {
  margin-top: 0.5rem;
}

/* TOPICS */

.topics {
  min-height: 100vh;
  background: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.topics .topics-wrapper {
  width: 80%;
  height: 100%;
  margin-top: 1.2rem;
}

.topics .topics-wrapper .topic {
  position: relative;
  height: 90px;
}

.topics .topics-wrapper .topic img {
  position: absolute;
  transform: scale(0.8);
  top: -50px;
}

.topics .topics-wrapper .topic:nth-child(1) img {
  left: 25px;
}

.topics .topics-wrapper .topic:nth-child(3) img {
  left: 5px;
}

.topics .topics-wrapper .topic:nth-child(5) img {
  left: 0;
}

.topics .topics-wrapper .topic:nth-child(7) img {
  left: 25px;
}

.topics .topics-wrapper .topic:nth-child(2) img,
.topics .topics-wrapper .topic:nth-child(6) img {
  right: 0;
}
.topics .topics-wrapper .topic:nth-child(4) img {
  right: -5px;
}

.topics .topics-wrapper-min {
  display: none;
}

/* INFO-BAR */

.info-bar {
  background: var(--main-color);
  display: flex;
  color: #fff;
  padding: 3rem;
  justify-content: space-around;
  align-items: center;
}

.info-bar .info-item {
  text-align: center;
  /* width: 33%; */
  padding: 1rem 2rem;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.2);
}

.info-bar .info-item p {
  font-size: 1.1rem;
}

.info-bar .info-item p:first-of-type {
  padding-top: 1.5rem;
}

/* REGISTRATION */

.registration {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration .paragraph {
  width: 80%;
  padding: 0 0 1rem;
}

.registration .paragraph p {
  font-size: 20px;
  text-align: center;
}

.registration .deadlines {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.card {
  padding: 1.5rem;
  width: 315px;
  background: var(--secondary-color);
  color: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
}

.card > h2 {
  margin: 0;
  text-align: center;
}

.card::after {
  content: "";
  position: absolute;
  background: var(--main-color);
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.registration .deadlines .card p {
  margin-bottom: 2rem;
  font-size: 18px;
}

.registration-link {
  padding-bottom: 2rem;
  text-align: center;
}

.registration-link h2 a {
  transition: font-size 0.2s ease-in-out;
}

.registration-link h2 a:hover {
  font-size: 1.55rem;
}

.email {
  padding: 1rem 1rem 2rem;
  transition: font-size 0.2s ease-in-out;
}

.email:hover {
  font-size: 1.03rem;
}

/* SCHEDULE */

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.schedule .schedule-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule .schedule-wrapper .schedule-items {
  width: 100%;
  margin: 2rem 0;
}

.schedule .schedule-wrapper .schedule-items .schedule-item {
  margin: 0 auto;
  display: flex;
  width: 80%;
  align-items: center;
  background: var(--light-color);
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.schedule .schedule-wrapper .schedule-items .schedule-item .schedule-item-info {
  background: var(--main-color);
  color: #fff;
  width: 30%;
  text-align: center;
  padding: 1rem;
}

.schedule .schedule-wrapper .schedule-item .schedule-item-desc {
  color: var(--main-color);
  width: 70%;
  padding: 1rem 1.5rem;
}

/* PRICING */
.pricing {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
}

.pricing h2 {
  text-align: center;
}

.pricing h3 {
  margin-top: 2rem;
}

/* CONTACT */
.contact {
  min-height: 100vh;
}

.contact-data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem 1rem;
  color: var(--main-color);
  text-align: center;
}

.contact-data .contact-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.contact-data .contact-box .contact-icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
  margin-bottom: 1rem;
}

#map {
  height: 70vh;
  margin: 1rem 0 1.5rem;
  padding: 1rem;
  border: 8px solid var(--main-color);
}

/* Footer */

footer {
  background: var(--main-color);
  color: #fff;
  padding: 2rem 5rem 1rem;
  display: flex;

  margin: auto;
}

.footer-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.soc-logos {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.fa-facebook {
  margin-right: 2rem;
}

.erasmus-footer {
  width: 400px;
  margin-left: -1.2rem;
}

.footer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo {
  margin-top: 1rem;
}

.ef-footer {
  width: 200px;
}

.glafka-footer {
  width: 180px;
}

.cofac-footer {
  width: 240px;
  margin-right: -0.5rem;
}

.copyright {
  background: var(--main-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(187, 187, 187, 0.1);
}

.copyright .woo {
  color: #bbb;
}
